p,
h1,h2,h3,h4,h5,h6,span{
	font-family: 'Open Sans', sans-serif;
}

a{
	color:white;
	text-decoration: none;
}

/* ABOVE ALL */
.specific_progress{
		display: none;
	}
}
.panel-group .badge{
		float: right;
	}

/* For Small devices */
@media only screen and (max-width:480px){
.specific_progress{
		display: none;
	}
}

@media only screen and (max-width:960px) {
	.specific_progress{
		display: none;
	}
}	

/* For Large devices */
@media only screen and (min-width:960px) {

	.specific_progress{
		display: none;
	}
	#about h2{
	    margin: 0px !important;
	}
	section div.container{
		/*height: auto;*/
		padding: 50px;
		border-bottom: 2px solid grey;
	}
	.panel-group .badge{
		float: right;
	}

	section#about{
		padding-bottom: 30px !important;
	}

	#experience h1{
		/*padding-bottom: 15px !important;*/
		/*margin: 0px !important;*/
	}
	#experience{
		/*margin-bottom: 30px;*/
	}
}
